<div class="container">
    <div class="head">
        <p>Расписания</p>
        <button class="push" (click) = "goCreateTimetable()">Добавить новое расписание</button>
    </div>
    <hr>
    <div class="organisation-list" >
        <ul class="border" *ngFor="let schedule of schedules">
            <li class="li">{{schedule.template}}
                <ul *ngFor="let org of schedule.organizatins">
                    <li>
                        {{org}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    


</div>
