
<div class="container">
    <div class="head">
        <p>Опросы</p>
        <button class="push">Добавить новый вопрос</button>
    </div>
    <hr>
    <div class="organisation-list" *ngIf="ShortOrganisations$ | async as organizations">
        <div class="some-organization" *ngFor="let organization of organizations; let in = index">
            <p>{{organization.title}}</p>
            <ul class="border" *ngFor="let report of organization.reports">
                <li>{{report.title}}</li>
            </ul>
        </div>
        
    </div>
</div>


