
<div class="container">
    <div class="head">
        <p class="title">Отчёты</p>
    </div>
    <hr>
    <div *ngIf="isNotAdmin" >
        <div class="organisation-list" *ngIf="reports$ | async as reports">
            <ul class="border" *ngFor="let report of reports; let in = index">
                <li [class.li-blue]="report.reportStatus == 'Passed'" [class.li-green]="report.reportStatus == 'InProgress'" [class.li-red]="report.reportStatus == 'Overdue'" (click)="goReport(report.id)">{{report.title}}</li>
            </ul> 
        </div>                      
    </div>
</div>


