.container{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 4em;
    
}

hr{
    width: 80vw;
}

.organisation-list{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border{
    
    list-style: none;
    padding: 0;
}
.border li{
    width: 60%;
    font-family: "Trebuchet MS", "Lucida Sans";
    padding: 7px 20px;
    margin-bottom:10px;
    border-radius: 5px;
    border-left: 10px solid black;
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
     -2px -2px 5px 0 rgba(0,0,0,.1),
     2px 2px 5px 0 rgba(0,0,0,.1),
     -2px 2px 5px 0 rgba(0,0,0,.1);
     font-size: 20px;
     letter-spacing: 2px;
     transition: 0.3s all linear;
}