<div class="container">
    <div class="head">
        <p>Организации</p>
        <button class="push">Добавить новую организацию</button>
    </div>
    <hr>
    <div class="organisation-list" *ngIf="SimpleOrganizations$ | async as SimpleOrganizations">
        <ul *ngFor="let SimpleOrganization of SimpleOrganizations" class="border">
            <li>{{SimpleOrganization.title}} <br>
                <!-- <ng-container *ngIf="show">{{SimpleOrganization.id}}</ng-container> -->
            </li>
        </ul>
    </div>
</div>
