<div class="container">
    <div class="head">
        <p class="rep">Организации</p>
        <button class="push" (click) = "goCreateOrg()">Добавить новую организацию</button>
    </div>
    <hr>
    <div class="organisation-list">
        <ul *ngFor="let organization of org" class="border">
            <li class="li" (click) = "showInfo()">{{organization.title}} <br>
                <div *ngIf="show">
                    <ul  *ngFor = "let member of organization.members">
                        <li>
                            <p>{{member}}</p>     
                        </li>
                    </ul>
                    <button (click) = "goCreateUser()">Добавить нового сотрудника</button>
                </div>
                
            </li>
        </ul>
    </div>
</div>
