input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #000;}
input:-moz-placeholder { color: #000;}
input::-moz-placeholder { color: #000;}
input:-ms-input-placeholder { color: #000;}

textarea::-webkit-input-placeholder { color: #000;}
textarea:-moz-placeholder { color: #000;}
textarea::-moz-placeholder { color: #000;}
textarea:-ms-input-placeholder { color: #000;}

label {
  margin: 0;
  display: block;
}

button {
	outline: none !important;
	border: none;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    width: 10em;
    height: 3em;
    transition: 1s;
}

button:hover {
    cursor: pointer;
    background-color: rgb(231, 231, 231);
}

iframe {
	border: none !important;
}


.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;  
}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.9);
}

.container{
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
    box-shadow: 0 0 8px rgba(73, 73, 73, 0.5);
}

.loginForm{
    width: 100%;
}

.loginTitle{
    font-size: 30px;
    color: black;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    display: block;
}

.wrapInput{
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(179, 179, 179, 0.24);
    margin-bottom: 30px;
}

.input{
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.2;

    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 38px;
}

.focus-input-login {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .focus-input-login::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    background: rgb(0, 0, 0);
  }
  
  .focus-input-login::after {
    font-family: Material-Design-Iconic-Font;
    font-size: 22px;
    color: rgb(0, 0, 0);
  
    content: url("https://img.icons8.com/ios-glyphs/30/000000/user--v1.png");
    display: block;
    width: 100%;
    position: absolute;
    top: 6px;
    left: 0px;
    padding-left: 5px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
.focus-input-password {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .focus-input-password::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    background: rgb(0, 0, 0);
  }
  
  .focus-input-password::after {
    font-family: Material-Design-Iconic-Font;
    font-size: 22px;
    color: rgb(0, 0, 0);
  
    content: url("https://img.icons8.com/ios-glyphs/30/000000/password.png");
    display: block;
    width: 100%;
    position: absolute;
    top: 6px;
    left: 0px;
    padding-left: 5px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .input:focus {
    padding-left: 5px;
  }
  
  .input:focus + .focus-input-login::after  {
    top: -22px;
    font-size: 18px;
  }
  
  .input:focus + .focus-input-login::before {
    width: 100%;
  }

  .input:focus + .focus-input-password::after  {
    top: -22px;
    font-size: 18px;
  }
  
  .input:focus + .focus-input-password::before {
    width: 100%;
  }

  .input-visible{
    position: absolute; top: 7px; right: 10px;
    z-index: 9;
    outline: none;
    border: none;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
    width: 24px;
    height: 24px;
    transition: 0.3s;
    cursor: pointer;
    background: url("https://img.icons8.com/material-rounded/24/000000/closed-eye.png");
  }
  
  .input-visible:hover{
    background: url("https://img.icons8.com/material-sharp/24/000000/visible.png")
  }

  .container-button {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .button {
    font-size: 16px;
    color: black;
    line-height: 1.2;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
  
    background: #9152f8;
    background: -webkit-linear-gradient(to bottom, #7579ff, #b224ef);
    background: -o-linear-gradient(to bottom, #7579ff, #b224ef);
    background: -moz-linear-gradient(to bottom, #7579ff, #b224ef);
    background: linear-gradient(to bottom, #7579ff, #b224ef);
    position: relative;
    z-index: 1;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .button ::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 1;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .button :hover {
    color: #fff;
  }
  
  .button :hover:before {
    opacity: 0;
  }
  
  
  