<div class="limiter">
    <div class="container-login100">
        <div class="container"> 
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="loginForm">
                <div class="form-group">
                    <p class="loginTitle">Вход</p>
                </div>
                <div class="form-group wrapInput">
                    <input type="text" formControlName="username" placeholder="Username" class="input">
                    <span class="focus-input-login" ></span>
                </div>
                <div class="form-group wrapInput">
                    <input #password class="input" type="password" formControlName="password" placeholder="Password">
                    
                    <span class="focus-input-password"></span>
                    <input class="input-visible" type="button" (mouseenter) = "changePassVisibility($event)" (mouseleave) = "changePassVisibility($event)"  value="">
                    
                </div>
                <div class="form-group container-button">
                    <button  type="submit button">Войти</button>
                </div>
            </form>
        </div>
    </div>
</div>

