<div class="limiter">
    <div class="container-login100">
        <div class="container">
            <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
                <div class="form-group title">
                    Создайте новую организацию
                </div>
                <div class="form-group wrapInput">
                    <input type="text" class="input" formControlName="title" placeholder="Название организации">
                    <span class="focus-input"></span>
                </div>
                <div class="form-group wrapInput">
                    <input type="text" class="input" formControlName="address" placeholder="Адрес организации">
                    <span class="focus-input"></span>
                </div>
                <div class="form-group wrapInput">
                    <input type="text" class="input" formControlName="number" placeholder="Номер телефона организации">
                    <span class="focus-input"></span>
                </div>
                <div class="form-group container-button">
                    <button class="button" type="submit button">Создать</button>
                </div>
            </form>
        </div>
        
    </div>
</div>

