<div class="container">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            Создайте новую организацию
        </div>
        <div class="form-group">
            <input type="text" formControlName="title" placeholder="Название организации">
        </div>
        <div class="form-group">
            <input type="text" formControlName="address" placeholder="Адрес организации">
        </div>
        <div class="form-group">
            <input type="text" formControlName="number" placeholder="Номер телефона организации">
        </div>
        <div class="form-group">
            <button type="submit button">Создать</button>
        </div>
    </form>
</div>
