<div class="container">
    <form>
        <div class="form-group">
            Создайте новую организацию
        </div>
        <div class="form-group">
            <input type="text" placeholder="Название организации">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Адрес организации">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Номер телефона организации">
        </div>
        <div class="form-group">
            <button>Создать</button>
        </div>
    </form>
</div>
