<app-timetable-header></app-timetable-header>

<div class="container">
    <p>Выберите шаблон расписания.</p> 
    <div *ngIf="templates$ | async as templates">
        <select [(ngModel)] = "timetable.reportTemplate" name="select" (ngModelChange) = "onChange($event)">
            <option *ngFor = "let template of templates" [ngValue] = "template.id">{{template.title}}</option>
        </select>
    </div>
    
    <p>регулярность <label class="switch">
        <input type="checkbox" >
        <span class="slider round"></span>
    </label></p>
    <div>
        <p>Дедлайн  <input [(ngModel)] = "timetable.deadlinePeriod" type="number">  дней.</p>
        <p>Периодичность <input type="number"> дней.</p>
        <p>Период: начало <input type="date"></p>
        <p>конец <input type="date"></p>
    </div>
    <div class="organisationsList" *ngIf="organizations$ | async as orgs">
        <p>организации</p>
        <ul>
            <li *ngFor = "let org of orgs"> {{org.title}}
                <input type="checkbox">
            </li>
        </ul>
        

    </div>
    
    
</div>
