<app-timetable-header></app-timetable-header>

<div class="container">
    <p>Выберите шаблон расписания.</p> 
    <div *ngIf="templates$ | async as templates">
        <select [(ngModel)] = "timetable.reportTemplate" name="select">
            <option *ngFor = "let template of templates" [ngValue] = "template.id">{{template.title}}</option>
        </select>
    </div>
    
    <p>не регулярный<label class="switch">
        <input type="checkbox" (change)="onChange()" [(ngModel)] = "scheduleState">
        <span class="slider round" ></span>
    </label></p>
    <div>
        <p>Дедлайн  <input [(ngModel)] = "deadline" type="number">  дней.</p>
        <div [ngStyle]="currentStyles">
            <p>Периодичность <input [(ngModel)] = "period" type="number"> дней.</p>
            <p>Период: начало <input [(ngModel)] = "timetable.emissionStart" placeholder="__.__.____" type="string"></p>
            <p>конец <input [(ngModel)] = "timetable.emissionEnd" placeholder="__.__.____" type="string"></p>
        </div>
    </div>
    <div class="organisationsList">
        <p>организации</p>
        <ul>
            <li *ngFor = "let org of organizations; let in = index"> {{org.title}}
                <input type="checkbox" value='in' [(ngModel)] = "orgSelect[in].picked" (ngModelChange) = "onChange()">
            </li>
        </ul>
        

    </div>
    <button class="button" (click) = "createTimetable()">Создать расписание</button>
    
    
</div>
