.container{
    height: 6vh;
    width: 20vw;
    border-bottom: 1px solid black;
    display: block;
}

.input{
    font-size: 1.5rem;
    background-color: white;
    color: black;
    outline: none;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-bottom-color: 2px black;
    margin-top: 1.5vh;
}

