<div class="container">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            Создайте нового пользователя
        </div>
        <div class="form-group">
            <input type="text" formControlName="name" placeholder="Имя">
        </div>
        <div class="form-group">
            <input type="text" formControlName="surname" placeholder="Фамилия">
        </div>
        <div class="form-group">
            <input type="text" formControlName="patronymic" placeholder="Отчество">
        </div>
        <div class="form-group">
            <input type="text" formControlName="organizationId" placeholder="Организация">
        </div>
        <select formControlName="organizationId" (ngModelChange) = "onChange($event)" *ngIf="organizations$ | async as organizations">
            <option *ngFor = "let organization of organizations" [ngValue] = "organization">{{organization.title}}</option>
        </select>
        <div class="form-group">
            <input type="text" formControlName="userRole" placeholder="Роль в организации">
        </div>
        <div class="form-group">
            <button type="submit button">Создать</button>
        </div>
    </form>
</div>
