.container{
    display: flex;
    justify-content: space-evenly;
    height: 85vh;
}

button{
    width: 30vw;
    background-color: white;
    transition: 1s;
}

button:hover{
    background-color: blue;
    color: white;
}

