.container{
    display: flex;
    justify-content: space-evenly;
    height: 85vh;
}

.elem-container{
    position: relative;
    height: 56vh;
    width: 25vw;
    margin-top: 5em;
    border: none;
    border-radius: 1em;
    box-shadow: 0 0 8px rgba(73, 73, 73, 0.5);
}

.picture1{
    border-radius: 1em 1em 0 0;
    background: url("../../../images/reports-img.jpg");
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 25vh;
}

.picture2{
    border-radius: 1em 1em 0 0;
    background: url("../../../images/organizations-img.jpg");
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 25vh;
}

.picture3{
    border-radius: 1em 1em 0 0;
    background-image: url("../../../images/schedules-img.png");
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 25vh;
}

.title{
    padding-left: 1em;
    padding-top: 1em;
    text-transform: uppercase;
    font-size: 3vh;
    font-family: Material-Design-Iconic-Font;
}

details{
    left: 0;
    width: 50%;
    position: absolute;
}

.org-p{
    float: left;
    position: absolute;
    text-align: right;
}

.container-button {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
  }

  .button {
    bottom: 1.5em;
    font-size: 16px;
    color: black;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    position: relative;
    z-index: 1;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .button :hover {
    color: #fff;
  }
  
  .button :hover:before {
    opacity: 0;
  }

  .info{
    padding-left: 2em;
  }

  rep-info{
    font-size: 1.5em;
  }

  hr{
    color: cadetblue;
    width: 90%;
  }

  .org-list{
    position: absolute;
    padding-left: 1em;
  }


